<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
            <a class="navbar-brand" th:href="@{/}">Warehouse</a>
        </div>
    </nav>

    <!--Main-->
    <div class="container d-flex justify-content-center">
        <!--Product details-->
        <div class="card mb-5 mt-5" style="width: 500px;">
            <div class="alert alert-dark mb-0" role="alert">
                New product added successfully
            </div>
            <div class="card-body">
                <div th:each="detail: ${newProduct}">
                    <div class="mt-3 mb-3">
                        <h6 class="card-subtitle text-muted">Name</h6>
                        <p th:text="${detail.name}"></p>
                    <div>

                    <div class="mt-3 mb-3">
                        <h6 class="card-subtitle text-muted">Serial number</h6>
                        <p th:text="${detail.serialNumber}"></p>
                    <div>

                    <div class="mt-3 mb-3">
                        <h6 class="card-subtitle text-muted">Quantity</h6>
                        <p th:text="${detail.quantity}"></p>
                    <div>

                    <div class="mt-3 mb-3">
                        <h6 class="card-subtitle text-muted">Price</h6>
                        <p th:text="${detail.price}"></p>
                    <div>

                    <div class="mt-3 mb-3">
                        <h6 class="card-subtitle text-muted">Description</h6>
                        <p th:text="${detail.description}"></p>
                    <div>
                </div>

                <a class="card-link" th:href="@{/}">Go back</a>
            <div>
        </div>
    </div>
</body>
</html>